services:
  - type: web
    name: preptick-backend
    env: node
    region: oregon
    plan: free
    buildCommand: npm install && npx prisma generate
    startCommand: npm run start:prod
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false
      - key: GROQ_API_KEY
        sync: false
      - key: PORT
        value: 3000
